<%= render "layouts/backstage/profile_header" %>
<nav class="sub-menu blue-grey darken-4">
  <div class="nav-wrapper">
    <div class="filter-widget left">
      <%= render "layouts/widgets/search", path: backstage_company_articles_path(@company), placeholder: "Filtrar" %>
    </div>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to new_backstage_company_article_path(@company) do %>
        <i class="material-icons left">note_add</i> Escrever Artigo</li>
      <% end %></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12">
    <h5>Artigos</h5>
    <div class="card">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Título</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>

          <tr>
            <td>#<%= article.id %></td>
            <td><%= article.title %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, @company, article] %>
            | <%= link_to "Remover", [:backstage, @company, article], method: :delete, data: { confirm: "Tem certeza?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>

      <%= paginate @articles %>
    </div>
  </div>
</div>
