<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Artigos</h5>
        <ol class="breadcrumbs">
            <li><%= link_to @company.name, [:backstage, @company] %></li>
            <li>Blog</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="search-offers">
        <%= form_tag backstage_company_articles_path(@company), method: :get do %>
            <fieldset style="border: none; margin: 0; padding: 0;">
              <input name="keyword" id="icon_local" style="display: inline;" type="search" placeholder="Filtrar artigos" value=<%= params[:keyword] %>>
              <button class="btn" type="submit" name="action">
                Filtrar
              </button>
          </fieldset>
        <% end %>
      </div>
    </div>

    <div class="card-panel">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Título</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |article| %>

          <tr>
            <td>#<%= article.id %></td>
            <td><%= article.title %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, @company, article] %>
            | <%= link_to "Remover", [:backstage, @company, article], method: :delete, data: { confirm: "Tem certeza?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>

      <%= paginate @articles %>

    </div>

    <div class="card-panel">
      <%= link_to "Escrever artigo", new_backstage_company_article_path(@company), class: "btn large" %>
    </div>
  </div>
</div>
