<footer class="page-footer <%= "#{color(:primary_color, @company)} #{color(:text_color, @company)}" %> no-top-margin">
  <div class="container">
    <div class="row">
      <div class="col s12 l5">
          <h5 class="<%= color(:detail_color, @company) %>">Mais informações</h5>
          <div class="company-date <%= color(:text_color, @company) %>">
            <i class="fa fa-street-view <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
            <strong>Endereço:</strong><br/>
            <%= @company.formatted_address %>
          </div>
          <div class="company-date <%= color(:text_color, @company) %>">
            <i class="fa fa-phone <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
            <strong>Telefone:</strong><br/>
            <%= @company.shows :phone %>
          </div>
          <div class="company-date <%= color(:text_color, @company) %>">
            <i class="fa fa-rss <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
            <strong>Email:</strong><br/>
            <%= @company.shows :mail %>
          </div>
      </div>
      <div class="col s12 l7">
        <h5 class="<%= color(:detail_color, @company) %>">Curta nossa página</h5>
        <% if @company.facebook.present? %>
          <div class="fb-page"
            data-href="<%= @company.facebook %>"
            data-width="360"
            data-hide-cover="false"
            data-show-facepile="false"
            data-show-posts="false"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center <%= color(:text_color, @company) %>">
      <%= link_to @company.name, "/#{@company.slug}", class: color(:link_color, @company) %> @ <%= link_to 'www.weekz.com.br', root_url, class: color(:link_color, @company) %>
    </div>
  </div>
</footer>
