<footer class="page-footer <%= "#{color(:primary_color, @company)} #{color(:text_color, @company)}" %> no-top-margin">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 center social">
        <%= link_to "", @company.facebook, class: "fa fa-facebook", target: "_blank" unless @company.facebook.blank? %>
        <%= link_to "", @company.instagram, class: "fa fa-instagram", target: "_blank" unless @company.instagram.blank? %>
        <%= link_to "", @company.twitter, class: "fa fa-twitter", target: "_blank" unless @company.twitter.blank? %>
      </div>
      <div class="col s12 m4 <%= color(:text_color, @company) %>">
        <% if @company.tags.any? %>
        <h5 class="<%= color(:detail_color, @company) %>">Tags</h5>
        <%= raw @company.tags.map(&:name).map { |t| link_to t, tag_path(t), class: color(:link_color, @company) }.join(', ') %>
        <% end %>
      </div>
      <div class="col s12 m4">
        <h5 class="<%= color(:detail_color, @company) %>">Mais informações</h5>
        <div class="company-date <%= color(:text_color, @company) %>">
          <i class="fa fa-street-view <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
          <strong>Endereço:</strong><br/>
          <%= @company.formatted_address %>
        </div>
        <div class="company-date <%= color(:text_color, @company) %>">
          <i class="fa fa-phone <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
          <strong>Telefone:</strong><br/>
          <%= @company.shows :phone %>
        </div>
        <div class="company-date <%= color(:text_color, @company) %>">
          <i class="fa fa-rss <%= color(:detail_color, @company) %>" aria-hidden="true"></i>
          <strong>Email:</strong><br/>
          <%= @company.shows :mail %>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center <%= color(:text_color, @company) %>">
      <%= link_to @company.name, "/#{@company.slug}", class: color(:link_color, @company) %> @ <%= link_to 'www.weekz.com.br', root_url, class: color(:link_color, @company) %>
    </div>
  </div>
</footer>
