<div class="section no-top-padding">
  <h5 class="main-title">Contato</h5>
</div>

<blockquote>Preencha os campos para enviar a mensagem</blockquote>
<br />
<%= form_for @contact do |f| %>

    <% @contact.errors.full_messages.each do |msg| %>
      <div class="input-field red-text">
        <%= msg %>
      </div>
   <% end %>

   <div class="input-field col s12">
     <%= f.text_field :name, class: "round full-width-input" %>
     <%= f.label :name %>
   </div>

   <div class="input-field col s6">
     <%= f.text_field :email, class: "round full-width-input" %>
     <%= f.label :email %>
   </div>
   <div class="input-field col s6">
     <%= f.text_field :phone, class: "round full-width-input" %>
     <%= f.label :phone %>
   </div>

   <div class="input-field col s12">
     <%= f.text_field :subject, class: "round full-width-input" %>
     <%= f.label :subject %>
   </div>

   <div class="input-field col s12">
     <%= f.text_area :message, class: "materialize-textarea round full-width-input" %>
     <%= f.label :message %>
   </div>

  <div class="section">
    <%= f.hidden_field :destination, value: @company.profile.mail %>
    <%= f.button type: "submit", name: "action", class: "btn-large right" do %>
      <i class="material-icons right">send</i>Enviar
    <% end %>
  </div>

<% end %>
