<!-- <div class="card">
    <div class="card-image waves-effect waves-block waves-light"> -->
      <div class="row no-top-margin no-bot-margin">
        <div class="title-wrapper center ">
          <div class="title-h5 <%= color(:primary_color, @company) %> <%= color(:text_color, @company) %>"><%= album.name %></div>
          <h5 style="padding: 20px; margin-top: 10px"><%= album.description %></h5>
        </div>
        <br>
      </div>
    <!-- </div>
</div> -->

<div class="no-top-margin photo-grid">
<% album.photos.each do |photo| %>
    <div class="grid photo center-align" style="overflow: hidden;" desc="<%= photo.description %>" img-full="<%= photo.photo.url %>">
      <%= image_tag(photo.photo.slider.url, class: 'img-open') %>
      <div class="truncate photo-desc"><%= photo.description %></div>
    </div>
<% end %>
</div>
