<!-- <div class="card">
    <div class="card-image waves-effect waves-block waves-light"> -->
      <div class="row no-top-margim no-bot-margim">
        <div class="title-wrapper center ">
          <div class="title-h5 <%= primary_color @company %> <%= text_color @company %>"><%= album.name %></div>
          <p style="padding: 20px 0;"><%= album.description %></p>
        </div>
        <br>
      </div>
    <!-- </div>
</div> -->

<div class="row no-top-margim photos">
<% album.photos.each do |photo| %>
  <div class="col s12 m3">
    <div class="card-panel">
    <div class="photo center-align" style="overflow: hidden;" desc="<%= photo.description %>" img-full="<%= photo.photo.url %>">
      <div class="valign-wrapper center-align" style="height: 90px; overflow: hidden;">
        <%= image_tag(photo.photo.slider.url, class: 'valign img-open') %>
      </div>
      <br /><span class="truncate" style="width: 150px;"><%= photo.description %></span>
    </div>
  </div>
</div>
<% end %>
</div>
