<%= render "layouts/backstage/profile_header" %>

<div class="row">
  <div class="col s6">
    <h5>Blog</h5>

    <%= form_for [:backstage, @company, @page, @blog_page]  do |f| %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :max %>
          <%= f.number_field :max %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light red" type="submit" name="action">Salvar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s6">
    <h5>Dados da Página</h5>

    <%= render "backstage/pages/form" %>

  </div>
</div>
