<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <h4>Weekz</h4>
          <p class="center">Junte-se a nossa comunidade</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <%= f.email_field :email, id: 'email' %>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password, id: 'password', autocomplete: "off" %>
          <label for="password">Senha</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.password_field :password_confirmation, id: 'password-again', autocomplete: "off" %>
          <label for="password-again">Confirme a senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.submit "Confirmar", class: "btn waves-effect waves-light col s12" %>
        </div>
        <div class="input-field col s12">
          <p class="margin center medium-small sign-up"><%= link_to "Já é cadastrado?", new_user_session_path %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
