<nav role="navigation" class="first-nav light-blue">
  <div class="nav-wrapper container">
    <ul>
      <li><a href="#" data-activates="slide-out" class="open-menu">
        <i class="material-icons">menu</i></a></li>
    </ul>
    <ul class="hide-on-med-and-down">
      <li><%= link_to root_url do %>
            Principal
          <% end %></li>

      <li><%= link_to offers_url do %>
            Ofertas
          <% end %></li>

      <li><%= link_to contact_url do %>
            Contato
          <% end %></li>
    </ul>
  </div>
</nav>

<ul class="side-nav" id="slide-out">
  <li clas="user-details">
    <%= render "layouts/main/side-header" %>
  </li>
  <li class="sideside"><%= link_to root_url do %>
        Principal
      <% end %></li>

  <li class="sideside"><%= link_to offers_url do %>
        Ofertas
      <% end %></li>

  <li class="sideside"><%= link_to contact_url do %>
        Contato
      <% end %></li>
  <li class="center header">Categorias</li>
  <li>
    <ul class="collapsible">
      <% @categories.each do |category| %>
        <li class="main-category">
          <div class="collapsible-header truncate"><i class="material-icons amber-text">place</i> <%= category.name %></div>
          <div class="collapsible-body">
            <ul>
              <% category.children.each do |child| %>
                <% next if child.companies.count <= 0 %>
                <li><%= link_to child, class: "truncate" do %>
                    <%= child.name %> <span class="badge white-text light-blue"><%= child.companies.count %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
