<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 center-align">
        <h5 class="yellow-text text-accent-2">MEU GUIA</h5>
        <ul>
          <li><%= link_to "Quem somos", institutional_path, class: "white-text" %></li>
          <li><%= link_to "Anuncie sua empresa", partner_path, class: "white-text" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Dashboard", backstage_dashboard_path, class: "white-text" %></li>
            <li><%= link_to "Empresas", backstage_companies_path, class: "white-text" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, class: "white-text", method: :delete %></li>
          <% else %>
            <li><%= link_to "Administração", new_user_session_path, class: "white-text" %></li>
          <% end %>
          <li><%= link_to "Contato", contact_path, class: "white-text" %></li>
        </ul>
      </div>
      <div class="col s12 m4 center-align">
        <h5 class="yellow-text text-accent-2">TAG CLOUD</h5>
        <div id="tag_cloud">
          <% tag_cloud Company.tag_counts, %w[s m l] do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: "white-text #{css_class}" %>
          <% end %>
        </div>
      </div>
      <div class="col s12 m4">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- meuguia footer -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7349918200482928"
             data-ad-slot="6401386209"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      <strong><%= link_to "http://meuguia.online", "/", class: "yellow-text text-accent-2" %></strong> - Seu guia na maior avenida do mundo
    </div>
  </div>
</footer>
