<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row mid-padding">
      <div class="col s12 m4">
        <span class="red-text">NAVEGAÇÃO</span>
        <ul>
          <li><%= link_to "Principal", root_path, class: "white-text" %></li>
          <!-- <li><%#= link_to "Quem somos", institutional_path, class: "white-text" %></li> -->
          <li><%= link_to "Anuncie sua empresa", partner_path, class: "white-text" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Painel", backstage_dashboard_path, class: "white-text" %></li>
            <li><%= link_to "Logout", destroy_user_session_path, class: "white-text", method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", auth_path, remote: true, class: "white-text" %></li>
          <% end %>
          <li><%= link_to "Ofertas", offers_path, class: "white-text" %></li>
          <li><%= link_to "Contato", contact_path, class: "white-text" %></li>
        </ul>
      </div>
      <div class="col s12 m4">
        <span class="red-text">TAG CLOUD</span>
        <div id="tag_cloud">
          <% tag_cloud(ActsAsTaggableOn::Tag.most_used(20), %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), :class => "tag grey darken-3 white-text #{css_class}" %>
          <% end %>
        </div>
      </div>
      <div class="col s12 m4">
        <%= render "layouts/widgets/adsense" %>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      <%= link_to "weekz.com.br", "/", class: "red-text" %>
    </div>
  </div>
</footer>
