<div class="main-categories center">
  <div>
    <%= link_to root_url do %>
      <i class="fa fa-home" aria-hidden="true"></i> Principal
    <% end %>
    <%= link_to contact_path do %>
      <i class="fa fa-users" aria-hidden="true"></i> Contato
    <% end %>
    <%= link_to "#", 'data-activates' => "slide-out", class: "open-menu", style: "display: inline-block;" do %>
      <i class="fa fa-bars" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<aside>
  <ul class="side-nav center" id="slide-out">
    <li class="user-details">
      <%= render "layouts/main/side-header" %>
    </li>
    <li class="sideside"><%= link_to root_url do %>
          Principal
        <% end %></li>

    <li class="sideside"><%= link_to contact_url do %>
          Contato
        <% end %></li>
  </ul>
</aside>
