<div class="main-categories center">
  <div>
    <%= link_to root_url do %>
      <i class="fa fa-home" aria-hidden="true"></i> Principal
    <% end %>
    <%= link_to offers_path, class: "hide-on-small-only" do %>
      <i class="fa fa-shopping-bag" aria-hidden="true"></i> Ofertas
    <% end %>
    <%= link_to contact_path do %>
      <i class="fa fa-users" aria-hidden="true"></i> Contato
    <% end %>
    <%= link_to "#", 'data-activates' => "slide-out", class: "open-menu", style: "display: inline-block;" do %>
      <i class="fa fa-bars" aria-hidden="true"></i> Menu
    <% end %>
  </div>
</div>

<aside>
  <ul class="side-nav center" id="slide-out">
    <li class="user-details">
      <%= render "layouts/main/side-header" %>
    </li>
    <li class="sideside"><%= link_to root_url do %>
          Principal
        <% end %></li>

    <li class="sideside"><%= link_to offers_url do %>
          Ofertas
        <% end %></li>

    <li class="sideside"><%= link_to contact_url do %>
          Contato
        <% end %></li>
    <li>
      <ul class="left-align collapsible">
        <% @categories.each do |category| %>
          <li class="main-category">
            <div class="collapsible-header truncate"><i class="material-icons red-text text-darken-2">place</i> <%= category.name %></div>
            <div class="collapsible-body">
              <ul>
                <% category.children.each do |child| %>
                  <% next if child.companies.count <= 0 %>
                  <li><%= link_to child, class: "truncate" do %>
                      <%= child.name %> <span class="badge white-text blue darken-4"><%= child.companies.count %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</aside>
