<div class="search-section bg2 row no-bot-margin">
  <div class="container">
    <div class="col s12">
      <div class="sub-menu right white-text">
        <% unless user_signed_in? %>
          <%= link_to auth_path, remote: true do %>
            <i class="fa fa-key" aria-hidden="true"></i> Entrar
          <% end %> ou
          <%= link_to register_path, remote: true do %>
            <i class="fa fa-user" aria-hidden="true"></i> Registrar
          <% end %>
        <% else %>
          <%= link_to backstage_dashboard_path do %>
            <i class="fa fa-gear" aria-hidden="true"></i> Painel
          <% end %> |
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
    <section class="col s12 m8 offset-m2 l6 offset-l3 search-pad">
      <h1 role="logo" class="weekz center fredoka">
        <%= link_to "WEEKZ", root_url, class: "white-text" %>
      </h1>
      <h6 class="center white-text discover">DESCUBRA</h6>
      <nav class="search-nav transparent">
        <div class="nav-wrapper">
          <%= render "layouts/main/search" %>
        </div>
      </nav>

      <%= render "layouts/main/menu" %>
    </section>
  </div>
</div>
