<%= form_for [:backstage, @company, @album]  do |f| %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :description %>
      <%= f.text_field :description, max_length: 220 %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>

      <% if @album.persisted? %>
        <%= link_to "Fotos", backstage_company_album_photos_path(@company, @album), class: "btn" %>
      <% end %>
    </div>
  </div>
<% end %>
