<% content_for :subnav do %>
  <%= render "companies/subnav" %>
<% end %>

<div class="container">
  <div class="row">

    <%= render "layouts/backstage/profile_header" %>

    <div class="card-panel">
      <h5 class="center">Álbuns</h5>
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Nome</th>
              <th data-field="price">Descrição</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @albums.each do |album| %>

          <tr>
            <td>#<%= album.id %></td>
            <td><%= album.name %></td>
            <td><%= album.description %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, @company, album] %>
            | <%= link_to "Fotos", backstage_company_album_photos_path(@company, album) %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <div class="card-panel">
      <%= link_to "Novo álbum", new_backstage_company_album_path(@company), class: "btn large" %>
    </div>
  </div>
</div>
