<header style="<%= header_image(@company) if @company.profile.cover? %>" class="row <%= 'header-company' if @company.profile.cover? %> title-heading side-padding">
  <div class="large-container">
    <div class="section">
      <div class="title-wrapper no-border">
        <h1 class="<%= color(:logo_color, @company) %>"><%= page.title %></h1>
        <h2 class="<%= color(:description_color, @company) %>"><%= page.description %></h2>
      </div>
    </div>
  </div>
</header>

<section class="row" style="padding: 20px 0 20px 5px !important;">
  <div class="large-container">
    <picture class="col s12 m6">
      <%= image_tag @page.pageable.image, class: "responsive-img" %>
    </picture>
    <div class="col s12 m6">
      <div class="page-content">
        <%= raw @page.pageable.content %>
        <div class="section center call-section">
          <%= render @company.layout_path(:subscribe), landing: @page.pageable, company: @company %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row side-padding details full-padding <%= odd_color(@company, 1) %>">
  <div class="large-container">
    <div class="section">
      <%= raw @page.pageable.details %>
    </div>
  </div>
</section>

<section class="row full-padding">
  <div class="col s12 center">
    <%= render @company.layout_path(:subscribe), landing: @page.pageable, company: @company %>
  </div>
</section>
