<%= form_for [:backstage, @sample_template] do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
  </div>

  <%= f.fields_for :template, @template do |fields| %>
    <%= render "backstage/templates/fields", form: fields, model: @sample_template %>
  <% end %>

  <div class="row">
    <div class="section">
      <div class="divider">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
