<% content_for :subnav do %>
  <%= render "companies/subnav" %>
<% end %>

<div class="container">
  <div class="row">

    <%= render "layouts/backstage/profile_header" %>

    <div class="card-panel">
      <h5 class="center">Nova foto</h5>
    <%= form_for @photo, url: backstage_company_album_photos_path(@company, @album, @photo), method: :post do |f| %>


      <div class="row">
        <div class="file-field input-field">
          <div class="btn">
            <span>Foto</span>
            <%= f.file_field :photo %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :description %>
          <%= f.text_field :description, maxlength: 220 %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
            <i class="material-icons right">send</i>
          </button>

          <%#= link_to "Visitar", "#{company_path(@company)}#tab-fotos", class: 'btn' %>
          <%= link_to "Visitar", get_url(@company), class: 'btn' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @album.photos.each do |photo| %>
      <% if photo.persisted? %>
        <div class="col s12 m6" style="padding-bottom: 30px;">
          <div class="card horizontal">
            <div class="card-image">
              <%= image_tag photo.photo.slider.url, width: "200px" %>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p><%= photo.description %></p>
              </div>
              <div class="card-action">
                <%= link_to "Remover", backstage_company_album_photo_path(@company, @album, photo), :method => :delete, data: { confirm: "Tem certeza?" } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
