<div id="<%= page.slug %>" class="contact-page no-bot-margin">
  <div class="row full-padding <%= odd_color(@company, @row_counter) %> no-bot-margin">
    <div class="container white grey-text text-darken-4">
      <div class="col s12">
        <div class="title-wrapper center no-border">
          <h5><%= page.title %></h5>
        </div>
      </div>
      <%= form_for @contact do |f| %>
        <% @contact.errors.full_messages.each do |msg| %>
          <div class="row">
            <div class="input-field red-text">
              <%= msg %>
            </div>
          </div>
         <% end %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name, class: "round full-width-input", required: true, maxlength: 220 %>
            <%= f.label :name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.email_field :email, class: "round full-width-input", required: true, maxlength: 220 %>
            <%= f.label :email %>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :phone, class: "round full-width-input", required: true, maxlength: 220 %>
            <%= f.label :phone %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :subject, class: "round full-width-input", maxlength: 220 %>
            <%= f.label :subject %>
          </div>
        </div>
        <div class="row no-bot-margin">
          <div class="input-field col s12">
            <%= f.text_area :message, class: "materialize-textarea round full-width-input" %>
            <%= f.label :message %>
          </div>
          <div class="input-field col s12">
            <%= f.hidden_field :destination, value: page.pageable.email %>
            <%= f.hidden_field :company_id, value: @company.id %>
            <%= f.button type: "submit", name: "action", class: "btn cyan waves-effect waves-light btn-large right" do %>
              <i class="material-icons right">send</i> Enviar
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @company.address.present? %>
      <div id="map-canvas" style="height: 350px;" class="col s12" data-lat="40.747688" data-lng="-74.004142">
          <iframe
            width="100%"
            height="100%"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDqdqRUKXGJjNk4vH42SPsWOQMae91Bosw&q=<%= @company.address_code %>&zoom=15" allowfullscreen>
          </iframe>
      </div>
  <% end %>
</div>
