<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= display_meta_tags site: @company.name %>
    <%= csrf_meta_tag %>
    <meta name="google-site-verification" content="TOgoMGdd-0BOAEh7TfUR3sWXHpJA5DBEYKOjj2zO1Y0" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'full/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'company/application', 'data-turbolinks-track': 'reload' %>
    <%= canonical_tag %>
    <style>
      <%= render "layouts/company/fonts.css", font: @company.profile.font %>
    </style>

    <%= render "layouts/widgets/og" %>
  </head>

  <body class="company-layout">

    <%= render @company.layout_path(:navbar) %>

    <%= render "layouts/company/header" %>

    <%= render @company.layout_path(:content) %>

    <%= render "layouts/company/footer" %>

    <%= render "layouts/widgets/analytics" %>

    <%= render "layouts/main/flash" %>

    <% if user_signed_in? %>
      <%= render "layouts/company/tools" %>
    <% end %>

    <%= yield :fbroot %>

  </body>
</html>
