<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= display_meta_tags site: @company.name %>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <%= stylesheet_link_tag    'landing/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'company/application', 'data-turbolinks-track': 'reload' %>
    <%= canonical_tag %>
    <style>
      <%= render "layouts/company/fonts.css", font: @company.profile.font %>
    </style>

    <%= render "layouts/widgets/og" %>
  </head>

  <body class="company-layout">

    <%= render @company.layout_path(:navbar) %>

    <% if @company.newsletter and @company.newsletter.top? %>
      <%= render "layouts/widgets/newsletter" %>
    <% end %>

    <%= render "layouts/company/flash" %>

    <%= yield %>

    <% if @company.newsletter and @company.newsletter.bottom? %>
      <%= render "layouts/widgets/newsletter" %>
    <% end %>

    <%= render "layouts/company/footer" %>

    <%= render "layouts/widgets/hubspot" %>

    <%= render "layouts/widgets/analytics", company: @company %>

    <% if user_signed_in? %>
      <%= render "layouts/company/tools" %>
    <% end %>
  </body>
</html>
