<div id="id01" class="modalf">

  <%= form_for(:user, url: session_path(:user), html: { class: "modalf-content animate" }) do |f| %>
    <div class="containerf">
      <%= link_to user_facebook_omniauth_authorize_path, class: "fb btn waves-effect waves-light" do %>
        Entrar usando Facebook <i class="fa fa-facebook left" aria-hidden="true"></i>
      <% end %>
    <label><b>Email</b></label>
      <%= f.email_field :email, id: 'email' %>

      <label><b>Senha</b></label>
      <%= f.password_field :password, id: 'password', autocomplete: "off" %>

      <div class="divider"></div>

      <%= f.submit "Login", class: "btn blue" %>

      <div class="actions">
        <%= f.check_box :remember_me, id: 'remember-me' %>
        <label for="remember-me">Lembrar</label>

        <%= link_to "Não é cadastrado?", register_path, remote: true, class: 'right' %>
      </div>
    </div>
  <% end %>
</div>
