<div id="breadcrumbs-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h5 class="breadcrumbs-title">Categorias</h5>
        <ol class="breadcrumbs">
            <li>Administrativo</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="search-offers">
        <%= form_tag backstage_categories_path, method: :get do %>
            <fieldset style="border: none; margin: 0; padding: 0;">
              <input name="keyword" id="icon_local" style="display: inline;" type="search" placeholder="Filtrar categorias" value=<%= params[:keyword] %>>
              <button class="btn" type="submit" name="action">
                Filtrar
              </button>
          </fieldset>
        <% end %>
      </div>
    </div>

    <div class="card-panel">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Nome</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>

          <tr>
            <td>#<%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, category] %>
            | <%= link_to "Ver", category %>
            | <%= link_to "Apagar", [:backstage, category], method: :delete, data: { confirm: "Confirma exclusão?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>

      <%= paginate @categories %>
    </div>

    <div class="card-panel">
      <%= link_to "Nova categoria", new_backstage_category_path, class: "btn large" %>
    </div>
  </div>
</div>
