<div class="row header-company" style="<%= header_image(@company) %>">
  <div class="container">
    <div class='section'>
      <h3 class="<%= logo_color(@company) %>"><%= @company.name %></h3>
      <p class="<%= description_color(@company) %>" style="font-size: 18px;"><%= @company.description %></p>
    </div>
  </div>
</div>
