<nav role="navigation" class="nav-menu <%= primary_color(@company) %>">
  <div class="nav-wrapper container tabs-menu">
    <ul class="tabs">
      <% if @company.profile.institutional.present? %>
        <li class="tab"><%= link_to "Inicial", "#tab-inicial", class: "#{link_color(@company)}" %></li>
      <% end %>
      <% @albums.each do |album| %>
        <li class="tab"><%= link_to album.name, "#tab-album-#{album.id}", class: "#{link_color(@company)}" %></li>
      <% end %>
      <li class="tab"><%= link_to "Como chegar", "#tab-mapa", class: "#{link_color(@company)}" %></li>
      <li class="tab"><%= link_to "Contato", "#tab-contato", class: "#{link_color(@company)}" %></li>
    </ul>
  </div>
</nav>
