<%= form_for(:user, url: registration_path(:user)) do |f| %>
    <div class="col s12">
      <h3>Crie sua página grátis!</h3>
      <div class="divider"></div>
    </div>
    <div class="col s12">
      <%= link_to user_facebook_omniauth_authorize_path, class: "fb btn waves-effect waves-light col s12" do %>
        Entrar usando Facebook <i class="fa fa-facebook left" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="col s12 center">
      <div class="divider"></div>
      ou cadastre-se
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">perm_identity</i>
      <%= f.email_field :email, id: 'email' %>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">lock_outline</i>
      <%= f.password_field :password, id: 'password', autocomplete: "off" %>
      <label for="password">Senha</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">lock_outline</i>
      <%= f.password_field :password_confirmation, id: 'password-again', autocomplete: "off" %>
      <label for="password-again">Confirme a senha</label>
    </div>
    <div class="input-field col s12">
      <%= f.submit "Entrar", class: "btn waves-effect waves-light col s12 blue" %>
    </div>
<% end %>
