<%= render "layouts/main/slideshow" %>

<div class="row no-top-margim no-bot-margim">
  <div class="container">
    <br/>

    <div class="row">
      <div class="title-wrapper center no-border">
        <div class="title-h5 blue-grey">Confira algumas sugestões</div>
      </div>
      <div class="col s12 m4 bg-card praia">
        <div class="title-wrapper center no-border">
          <div class="title-h5 z-depth-1 yellow darken-2">Para o dia</div>
        </div>

        <div class="slick-sliding-individual">
          <% @dia.each do |company| %>
            <div class="col">
              <%= render "companies/company_card", company: company %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col s12 m4 bg-card balada">
        <div class="title-wrapper center no-border">
          <div class="title-h5 z-depth-1 blue darken-4">Para a noite</div>
        </div>

        <div class="slick-sliding-individual">
          <% @noite.each do |company| %>
            <div class="col">
              <%= render "companies/company_card", company: company %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col s12 m4 bg-card natureza">
        <div class="title-wrapper center no-border">
          <div class="title-h5 z-depth-1 light-green darken-4">Natureza</div>
        </div>

        <div class="slick-sliding-individual">
          <% @natureza.each do |company| %>
            <div class="col">
              <%= render "companies/company_card", company: company %>
            </div>
          <% end %>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col s12">
          <br>
          <div class="divider" style="margin: 10px 0;"></div>
        </div>

        <div class="col s12 advantage center-align">
          <div class="card-panel blue-grey darken-2">
            <p class="justify white-text" style='font-size: 1.3em;'>
              Cadastre seu empreendimento no <%= link_to "Meu Guia Online", backstage_companies_path, class: "yellow-text text-accent-2 bolder" %> gratuitamente
              <br>
              <br>
              <%= link_to "Junte-se agora", backstage_companies_path, class: "btn-transparent" %>
            </p>
          </div>
        </div>

        <div class="col s12">
          <div class="divider" style="margin: 10px 0;"></div>
        </div>
      </div>


    <div class="row">
      <div class="title-wrapper">
        <div class="title-h5 z-depth-1 blue-grey">Empreendimentos em destaque</div>
      </div>

      <br />
      <div class="last-companies slick-sliding">
        <% @destaque.each do |company| %>
          <div style="padding: 0 10px;">
            <%= render "companies/company_card", company: company %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
