<br/>
<%= render "layouts/main/last_offers" %>

<div class="section" style="margin-top: 2px; border-bottom: 1px solid #e2e2e2;">
  <span class="blue-grey-text text-darken-3 title-h5">Últimas empresas</span>
  <%= link_to "Ver todas", companies_path, style: "margin-left: 10px;" %>
</div>
<br />
<% if @companies.present? %>
<div class="last-companies slick-sliding">
  <% @companies.each do |company| %>
  <div class="col">
    <div class="card">
      <div class="card-content">
        <div class="card-title center">
          <%= image_tag logotipo(company), style: "max-width: 85px; height: auto; max-height: 85px; margin: 0 auto;" %>
        </div>
        <p style="overflow: hidden; max-height: 110px; margin: 15px 0 5px 0;">
          <%= link_to company.name, get_url(company), class: "grey-text text-darken-4" %>
        </p>
        <%= link_to rate_for(company), "/#{company.slug}/review", class: "rating" %>
        <br />
        <p>
          <%= link_to company.category.name, company.category %><br />
          <%= company.description %>
        </p>
      </div>
      <div class="card-action">
        <%= link_to "Visitar", get_url(company), class: 'bolder blue-grey-text', target: "blank" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br />
<% else %>
  <p class="center">Sem resultados, <%= link_to "volte para a página inicial", "/", class: "green-text" %>.</p>
<% end %>
