<%= render "layouts/backstage/profile_header" %>
<nav class="sub-menu grey darken-3">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><%= link_to new_backstage_company_page_path(@company) do %>
        <i class="material-icons left">note_add</i> Nova Página</li>
      <% end %></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12">
    <h5>Páginas</h5>
    <div class="card">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="index"></th>
              <th data-field="name">Nome</th>
              <th data-field="price">Tipo</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @pages.each do |page| %>

          <tr>
            <td><%= page.index.to_i %></td>
            <td><%= page.title %></td>
            <td><%= page.pageable_type %></td>
            <td>
              <%= link_to "Editar", polymorphic_path([:edit, :backstage, @company, page, page.pageable]) %><br>
              <%= link_to "Excluir", backstage_company_page_path(@company, page), method: :delete, data: { confirm: 'Excluir o álbum?' } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
