<%= form_for [:backstage, @font] do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :url %>
      <%= f.text_field :url, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
