<% @companies.each do |company| %>
  <li class="collection-item avatar-bigger avatar">
    <div class="rect">
      <span class="valign-helper">
        <%= image_tag company.logotipo.try(:thumb).try(:url) %>
      </span>
    </div>
    <span class="title"><%= link_to company.name, get_url(company), class: "bolder black-text" %></span>
    <p><%= link_to rate_for(company), "/#{company.slug}/review", class: "rating" %>

    <br />
    <%= company.description %></p>
    <%= link_to get_url(company), class: 'secondary-content tooltipped', 'data-position': "left", 'data-delay' => "50", 'data-tooltip' => "Mais informações" do %>
      <i class="material-icons">room</i>
    <% end %>
  </li>
<% end %>
