<% @companies.each do |company| %>
  <li class="collection-item avatar-bigger avatar">
    <div class="rect">
      <span class="valign-helper">
        <%= image_tag logotipo(company) %>
      </span>
    </div>
    <span class="title">
      <%= link_to company.name, get_url(company), class: "grey-text text-darken-4" %>
    </span>
    <p>
      <%= link_to rate_for(company), "/#{company.slug}/review", class: "rating" %>
      <br />
      <%= link_to company.category.name, company.category %> - 
      <%= company.city_uf %><br />
      <%= company.description %>
    </p>
    <%= link_to get_url(company), class: 'secondary-content tooltipped', 'data-position': "left", 'data-delay' => "50", 'data-tooltip' => "Mais informações" do %>
      <i class="material-icons">room</i>
    <% end %>
  </li>
<% end %>
