<div class="row full-padding">
  <div class="container">
    <div class="section">
      <h5 class="title center"><i class="title-fa red-text fa fa-tags" aria-hidden="true"></i> Tag: <%= @tag.name %>
    </div>

    <%= render "layouts/widgets/search", path: tag_path, placeholder: "Filtre sua busca" %>
  </div>

  <div class='large-container'>
    <div class="col s12">

      <% unless @companies.blank? %>

        <ul class="collection company-collection">
          <%= render "companies/collection" %>
        </ul>

        <div class='section center'>
          <%= paginate @companies %>
        </div>

      <% else %>

        <%= render "layouts/widgets/not_found", message: "Ooops, não conseguimos encontrar nenhum registro para a busca '#{params[:key]}' :(".html_safe %>

      <% end %>

    </div>
  </div>
</div>
