<nav role="navigation" class="<%= color(:primary_color, @company) %>">
  <div class="nav-wrapper container">
    <div class="center anchorList hide-on-med-and-down">
      <%= link_to "Principal", "#home", class: "#{color(:primary_color, @company)}" %>
      <% @company.albums.each do |album| %>
        <%= link_to album.name, "#album-#{album.id}", class: "#{color(:primary_color, @company)}" %>
      <% end %>
      <%= link_to "Contato", "#contact-page", class: "#{color(:primary_color, @company)}" %>
    </div>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav anchorList" id="mobile-demo">
      <li><%= link_to "Principal", "#home" %></li>
      <% @company.albums.each do |album| %>
        <li><%= link_to album.name, "#album-#{album.id}" %></li>
      <% end %>
      <li><%= link_to "Contato", "#contact-page" %></li>
    </ul>
    </div>
  </div>
</nav>
