<%= form_for [:backstage, @company], html: { multipart: true }  do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :name, required: true, maxlength: 220 %>
      <%= f.label :name %>
    </div>

    <div class="input-field col s6 tooltipped" data-tooltip="Link da sua página. Só aceita letras, números e separador (-)">
      <%= link_to "?", '#!', class: "btn-help" %>
      <%= f.text_field :slug,
        required: true, maxlength: 220,
        style: "padding-left: 30px;" %>
      <%= f.label :slug %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :description, maxlength: 220 %>
      <%= f.label :description %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.collection_select :category_id, Category.except_root, :id, :name, prompt: false %>
      <%= f.label :category_id %>
    </div>

    <div class="input-field col s6">
      <%= f.text_field :tag_list, maxlength: 80 %>
      <%= f.label :tag_list %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :phone, maxlength: 220 %>
      <%= f.label :phone %>
    </div>
    <div class="input-field col s6">
      <%= f.text_field :mail, maxlength: 220 %>
      <%= f.label :mail %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s8">
      <%= f.collection_select :city_id, City.all, :id, :name, prompt: false, required: true %>
      <%= f.label :city_id %>
    </div>
    <div class="input-field col s4">
      <%= f.collection_select :uf_id, Uf.all, :id, :name, prompt: false, required: true %>
      <%= f.label :uf_id %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :address, required: false, maxlength: 220 %>
      <%= f.label :address %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m4">
      <%= f.text_field :instagram, maxlength: 20 %>
      <%= f.label :instagram %>
    </div>
    <div class="input-field col s12 m4">
      <%= f.text_field :facebook, maxlength: 220 %>
      <%= f.label :facebook %>
    </div>
    <div class="input-field col s12 m4">
      <%= f.text_field :twitter, maxlength: 220 %>
      <%= f.label :twitter %>
    </div>
  </div>

  <div class="row">
    <%= image_tag(@company.logotipo.thumb.url) if @company.logotipo? %>
    <%= f.hidden_field :logotipo_cache %>
    <div class="file-field input-field">
      <div class="btn">
        <span>Logotipo</span>
        <%= f.file_field :logotipo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>

      <% if @company.persisted? %>
        <%= link_to "Álbums", backstage_company_albums_path(@company), class: "btn" %>
        <%= link_to edit_backstage_company_profile_path(@company), class: "btn" do %>
          Editar perfil
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
