<%= form_for [:backstage, @company], html: { multipart: true }  do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, max_length: 220 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :slug %>
      <%= f.text_field :slug, required: true, max_length: 220 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :description %>
      <%= f.text_field :description, max_length: 220 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :category_id, Category.except_root, :id, :name, prompt: false %>
      <%= f.label :category_id %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :tag_list %>
      <%= f.text_field :tag_list, max_length: 220 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m4">
      <%= f.label :instagram %>
      <%= f.text_field :instagram, max_length: 220 %>
    </div>
    <div class="input-field col s12 m4">
      <%= f.label :facebook %>
      <%= f.text_field :facebook, max_length: 220 %>
    </div>
    <div class="input-field col s12 m4">
      <%= f.label :twitter %>
      <%= f.text_field :twitter, max_length: 220 %>
    </div>
  </div>

  <div class="row">
    <%= image_tag(@company.logotipo.thumb.url) if @company.logotipo? %>
    <%= f.hidden_field :logotipo_cache %>
    <div class="file-field input-field">
      <div class="btn">
        <span>Logotipo</span>
        <%= f.file_field :logotipo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>

      <% if @company.persisted? %>
        <%= link_to "Ãlbums", backstage_company_albums_path(@company), class: "btn" %>
        <%= link_to edit_backstage_company_profile_path(@company), class: "btn" do %>
          Editar perfil
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
