<div id="breadcrumbs-wrapper" class="row blue-grey darken-4 no-bot-margin white-text">
  <div class="col s12">
    <h5 class="breadcrumbs-title">Páginas</h5>
    <ol class="breadcrumbs">
      <li><%= current_user.email %></li>
    </ol>
  </div>
</div>

<nav class="sub-menu blue-grey darken-4">
  <div class="nav-wrapper">
    <div class="filter-widget left">
      <%= render "layouts/widgets/search", path: backstage_companies_path, placeholder: "Filtrar" %>
    </div>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to new_backstage_company_path do %>
        <i class="material-icons left">note_add</i> Nova Página</li>
      <% end %></li>
    </ul>
  </div>
</nav>

<div class="row grey-text text-darken-4">
  <div class="col s12">

    <div class="card">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="id"></th>
              <th data-field="name">Nome</th>
              <th data-field="price">Descrição</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @companies.each do |company| %>

          <tr>
            <td>#<%= company.id %></td>
            <td><%= company.name %></td>
            <td><%= company.description %></td>
            <td>
              <%= link_to "Administrar", [:backstage, company] %><br>
              <%= link_to "Remover", backstage_company_path(company), method: :delete, data: { confirm: "Confirma exclusão permanente?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @companies %>
  </div>
</div>
