<aside>
  <ul class="side-nav leftside-navigation">
      <li style="padding-top: 10px;">
      <div class="row">
        <div class="col s12 center grey-text text-darken-3">
            <img src="/images/avatar.png" alt="" class="circle responsive-img profile-image">
            <p style="line-height: 1.66em; margin-top: 0;">
              Bem vindo<br>
              <%= current_user.email %><br>
              <%= current_user.role %></p>
            <div class="divider"></div>
        </div>

      </div>
      </li>
      <li class="bold">
        <%= link_to backstage_dashboard_path, class: "waves-effect waves-cyan" do %>
          <i class="mdi-action-dashboard"></i> Dashboard
        <% end %>
      </li>

      <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Empresas</a>
                  <div class="collapsible-body">
                      <ul>
                          <li><%= link_to "Empresas", backstage_companies_path %>
                          </li>
                          <li><%= link_to "Nova empresa", new_backstage_company_path %></li>
                          <li><div class="divider"></div></li>
                      </ul>
                  </div>
              </li>

          </ul>
      </li>
      <li class="bold">
        <%= link_to backstage_subscribes_path, class: "waves-effect waves-cyan" do %>
          <i class="mdi-action-account-balance-wallet"></i> Pedidos
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-lock-outline"></i> Adminstrativo</a>
                    <div class="collapsible-body">
                        <ul>
                          <li><%= link_to 'Categorias', backstage_categories_path %></li>
                          <li><%= link_to 'Usuários', backstage_users_path %></li>
                          <li><div class="divider"></div></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
      <% end %>
  </ul>
</aside>
