<nav class="top-nav blue-grey darken-3">
  <div class="nav-wrapper">
    <a href="#" data-activates="main-menu" class="button-collapse"><i class="material-icons">menu</i></a>

    <%= link_to "Escritório Virtual", root_url, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li>
        <%#= link_to backstage_dashboard_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">dashboard</i> Dashboard
        <%# end %>
      </li> -->
      <li>
        <%= link_to backstage_companies_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">business</i> Páginas
        <% end %>
      </li>
      <!-- <li>
        <%#= link_to backstage_subscribes_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">view_list</i> Pedidos
        <%# end %>
      </li> -->
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">lock_open</i> Sair
        <% end %>
      </li>
      <% if current_user.admin? %>
      <li><a class="dropdown-button" href="#!" data-activates="admin-content">
        <i class="material-icons left">vpn_key</i> Administrativo<i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>

    <ul id="main-menu" class="side-nav grey">
      <!-- <li>
        <%#= link_to backstage_dashboard_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">dashboard</i> Dashboard
        <%# end %>
      </li> -->
      <li>
        <%= link_to backstage_companies_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">business</i> Páginas
        <% end %>
      </li>
      <!-- <li>
        <%#= link_to backstage_subscribes_path, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">view_list</i> Pedidos
        <%# end %>
      </li> -->
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-cyan" do %>
          <i class="material-icons left">lock_open</i> Sair
        <% end %>
      </li>
      <% if current_user.admin? %>
        <li><%= link_to 'Fontes', backstage_admin_fonts_path %></li>
        <li><%= link_to 'Mensagens', backstage_admin_contacts_path %></li>
        <li><%= link_to 'Templates', backstage_admin_sample_templates_path %></li>
        <li><%= link_to 'Usuários', backstage_admin_users_path %></li>
      <% end %>
    </ul>

    <% if current_user.admin? %>
      <ul id="admin-content" class="dropdown-content">
        <li><%= link_to 'Fontes', backstage_admin_fonts_path %></li>
        <li><%= link_to 'Mensagens', backstage_admin_contacts_path %></li>
        <li><%= link_to 'Templates', backstage_admin_sample_templates_path %></li>
        <li><%= link_to 'Usuários', backstage_admin_users_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
