<aside class="card no-top-margin">
  <ul class="leftside-navigation">
    <li>
      <div class="row">
        <h5 class="brand-logo center"><%= link_to "Weekz", root_url, class: "indigo white-text" %></h5>
        <div class="col s12 center grey-text text-darken-3">
          <img src="/images/avatar.png" alt="" class="circle responsive-img profile-image">
          <p style="line-height: 1.66em; margin-top: 0;">
            Bem vindo<br>
            <%= current_user.email %><br>
            <%= current_user.role %></p>
          <div class="divider"></div>
        </div>
      </div>
    </li>
    <li>
      <%= link_to backstage_dashboard_path, class: "waves-effect waves-cyan" do %>
        <i class="material-icons">dashboard</i> Dashboard
      <% end %>
    </li>

    <li>
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="material-icons">business</i> Empreendimentos</a>
          <div class="collapsible-body">
            <ul>
              <li><%= link_to "Listar", backstage_companies_path %>
              </li>
              <li><%= link_to "Adicionar", new_backstage_company_path %></li>
              <li><div class="divider"></div></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to backstage_subscribes_path, class: "waves-effect waves-cyan" do %>
        <i class="material-icons">view_list</i> Pedidos
      <% end %>
    </li>
    <% if current_user.admin? %>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header waves-effect waves-cyan">
            <i class="material-icons">vpn_key</i> Adminstrativo</a>
            <div class="collapsible-body">
              <ul>
                <li><%= link_to 'Categorias', backstage_categories_path %></li>
                <li><%= link_to 'Usuários', backstage_users_path %></li>
                <li><%= link_to 'Templates', backstage_sample_templates_path %></li>
                <li><%= link_to 'Fontes', backstage_fonts_path %></li>
                <li><div class="divider"></div></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-cyan" do %>
          <i class="material-icons">lock_open</i> Sair
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>
