<div id="profile-page-header" class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <%= image_tag @company.cover, alt: "company cover", class:"activator" %>
  </div>
  <div class="card-content <%= primary_color(@company, true, true) %>" style="padding-bottom: 0; padding-right: 0;">
    <div class="row" style="padding-bottom: 0;">
      <div class="col s5 m3 l2">
        <span class="card-profile-image valign-wrapper">
          <%= image_tag logotipo_square(@company), alt: "company logotipo", class: "valign z-depth-2 activator responsive-img white" %>
        </span>
      </div>
      <div class="col s7 m9 l3">
        <h4 class="card-title <%= logo_color(@company, false, true) %>">
          <strong>
            <%= @company.name %>
          </strong>
        </h4>
        <p class="medium-small <%= text_color(@company, false, true) %>"><%= @company.category.name %></p>
      </div>
    </div>
  </div>

  <%= render "layouts/backstage/profile_header_menu" %>
</div>
