<nav class="blue-grey darken-4">
  <div class="nav-wrapper subnav">
    <ul class="hide-on-med-and-down right">
      <li>
        <%= link_to backstage_company_articles_path(@company) do %>
          <i class="material-icons left">textsms</i> Artigos
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_newsletter_path(@company) do %>
          <i class="material-icons left">markunread_mailbox</i> Newsletter
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_contacts_path(@company) do %>
          <i class="material-icons left">mail</i> Mensagens
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_pages_path(@company) do %>
          <i class="material-icons left">perm_media</i> Páginas
        <% end %>
      </li>

      <li>
        <%= link_to edit_backstage_company_path(@company) do %>
          <i class="material-icons left">edit</i> Dados
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_profile_path(@company) do %>
          <i class="material-icons left">assignment</i> Aparência
        <% end %>
      </li>

      <li>
        <%= link_to "/#{@company.slug}", target: "_blank" do %>
          <i class="material-icons left">place</i> Visitar
        <% end %>
      </li>
    </ul>

    <ul id="slide-out" class="side-nav">
      <li>
        <%= link_to backstage_company_articles_path(@company) do %>
          <i class="material-icons left">textsms</i> Artigos
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_newsletter_path(@company) do %>
          <i class="material-icons left">markunread_mailbox</i> Newsletter
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_pages_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">perm_media</i> Páginas
        <% end %>
      </li>

      <li>
        <%= link_to edit_backstage_company_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">edit</i> Dados
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_profile_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">assignment</i> Aparência
        <% end %>
      </li>

      <li>
        <%= link_to backstage_company_contacts_path(@company), class: "grey-text text-darken-3" do %>
          <i class="material-icons left">mail</i> Mensagens
        <% end %>
      </li>
    </ul>
    <a href="#!" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
