<div class="row">
<div class="col s12 m6 l3">
  <div class="right-align light-green lighten-1 light-green-text text-lighten-4 card state-card">
    <%= link_to backstage_company_contacts_path(@company), class: "white-text" do %>
      <span>
        <%= @company.contacts.count %>
      </span><br>mensagens
      <i class="material-icons light-green-text text-lighten-2">mail</i>
    <% end %>
  </div>
</div>

<div class="col s12 m6 l3">
  <div class="right-align yellow accent-4 yellow-text text-lighten-5 card state-card">
    <%= link_to backstage_company_reviews_path(@company), class: "white-text" do %>
      <span>
        <%= @company.reviews.count %>
      </span><br>avaliações
      <i class="material-icons yellow-text text-lighten-1">star</i>
    <% end %>
  </div>
</div>
</div>
<div id="profile-page-header" class="card">
  <div class="card-content" style="padding-bottom: 0; padding-right: 0;">
    <div class="row" style="padding-bottom: 0;">
      <div class="col s12 m3 l2">
        <span class="card-profile-image valign-wrapper">
          <%= image_tag logotipo_square(@company),
                alt: "company logotipo", class: "valign responsive-img white" %>
        </span>
      </div>
      <div class="col s12 m9 l10">
        <div class="profile-header-company-wrapper">
          <h5 class="profile-header-company truncate">
            <%= @company.name %>
          </h5>
          <p style="margin-left: 2px;" class="medium-small"><%= @company.category.name %></p>
        </div>
      </div>
    </div>
  </div>

  <%= render "layouts/backstage/profile_header_menu" %>
</div>
