<div id="breadcrumbs-wrapper" class="row blue-grey darken-4 no-bot-margin white-text">
  <div class="col s12">
    <h4 class="breadcrumbs-title">Fontes</h4>
    <ol class="breadcrumbs">
      <li>Administrativo</li>
    </ol>
  </div>
</div>

<nav class="sub-menu blue-grey darken-4">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><%= link_to new_backstage_admin_font_path do %>
        <i class="material-icons left">note_add</i> Cadastrar Fonte</li>
      <% end %></li>
    </ul>
  </div>
</nav>

<div class="row grey-text text-darken-4">
  <div class="col s12">

    <div class="card">
      <table class="striped bordered">
        <thead>
          <tr>
              <th data-field="name">Nome</th>
              <th data-field="actions"></th>
          </tr>
        </thead>

        <tbody>
          <% @fonts.each do |font| %>

          <tr>
            <td><%= font.name %></td>
            <td>
              <%= link_to "Editar", [:edit, :backstage, :admin, font] %>
            | <%= link_to "Apagar", [:backstage, :admin, font], method: :delete, data: { confirm: "Confirma exclusão?" } %>
            </td>
          </tr>

          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @fonts %>
  </div>
</div>
