<div class="row full-padding">
  <div class="container">
    <div class="section">
      <h5 class="title center"><i class="title-fa red-text fa fa-shopping-bag" aria-hidden="true"></i>Confira algumas ofertas</h5>
      <p class="center grey-text text-darken-3">Digite o produto que precisa para buscarmos</p>
    </div>
    <%= render "layouts/widgets/search", path: offers_path, placeholder: "Filtre sua busca" %>

    <% if @pages.present? %>
      <% @offers.each do |offer| %>
        <div class="col s12 m6 l4">
          <%= render "offers/offer_card", offer: offer %>
        </div>
      <% end %>

      <div class="col s12 center">
        <%= paginate @pages %>
      </div>
      <% else %>
        <% if params[:key].present? %>
          <%= render "layouts/widgets/not_found", message: "Ooops, não conseguimos encontrar nenhum registro para a busca '#{params[:key]}' :(<br>
          Mas confira algumas sugestões ;))".html_safe %>
        <% end %>

        <% @offers.each do |offer| %>
          <div class="col s12 m6 l4">
            <%= render "offers/offer_card", offer: offer %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
