<%= render "layouts/widgets/color_group" %>
<div class="container">
  <div id="profile-page" class="row">

    <%= render "layouts/backstage/profile_header" %>

    <div class="card-panel">
      <%= form_for [:edit, :backstage, @company, @profile], html: { multipart: true } do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :institutional %><br /><br />
            <%= f.text_area :institutional, class: "tinymce", style: "z-index: 9999;" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.text_field :phone, maxlength: 220 %>
            <%= f.label :phone %>
          </div>
          <div class="input-field col s6">
            <%= f.text_field :mail, maxlength: 220 %>
            <%= f.label :mail %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <%= f.collection_select :city_id, City.all, :id, :name, prompt: false, required: true %>
            <%= f.label :city_id %>
          </div>
          <div class="input-field col s4">
            <%= f.collection_select :uf_id, Uf.all, :id, :name, prompt: false, required: true %>
            <%= f.label :uf_id %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :address, required: false, maxlength: 220 %>
            <%= f.label :address %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :primary_color, id: 'primary_color', class: "open-color-group", input: 'primary_color' %>
            <span class="color-sample <%= primary_color(@company, true) %>"></span>
            <%= f.label :primary_color, class: "open-color-group", input: 'primary_color' %>
          </div>

          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :detail_color, id: 'detail_color', class: "open-color-group", input: 'detail_color' %>
            <span class="color-sample <%= detail_color(@company, true, true) %>"></span>
            <%= f.label :detail_color, class: "open-color-group", input: 'detail_color'  %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :link_color, id: 'link_color', class: "open-color-group", input: 'link_color' %>
            <span class="color-sample <%= link_color(@company, true, true) %>"></span>
            <%= f.label :link_color, class: "open-color-group", input: 'link_color' %>
          </div>

          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :text_color, id: 'text_color', class: "open-color-group", input: 'text_color' %>
            <span class="color-sample <%= text_color(@company, true, true) %>"></span>
            <%= f.label :text_color, class: "open-color-group", input: 'text_color' %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :logo_color, id: 'logo_color', class: "open-color-group", input: 'logo_color' %>
            <span class="color-sample <%= logo_color(@company, true, true) %>"></span>
            <%= f.label :logo_color, class: "open-color-group", input: 'logo_color' %>
          </div>

          <div class="input-field col s6 color-wrapper">
            <%= f.text_field :description_color, id: 'description_color', class: "open-color-group", input: 'description_color' %>
            <span class="color-sample <%= description_color(@company, true, true) %>"></span>
            <%= f.label :description_color, class: "open-color-group", input: 'description_color' %>
          </div>
        </div>

        <div class="row">
          <%= image_tag(@profile.cover.thumb.url) if @profile.cover? %>
          <%= f.hidden_field :cover_cache %>
          <div class="file-field input-field">
            <div class="btn">
              <span>Capa</span>
              <%= f.file_field :cover %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>

        <div class="row no-bot-margim">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
            <%= link_to "Ãlbuns", backstage_company_albums_path(@company), class: "btn" %>
            <%= link_to "Visitar", get_url(@company), class: "btn" %>
          </div>
        </div>
      <% end %>

      <%= tinymce %>
    </div>
  </div>
</div>
