<% content_for :subnav do %>
  <%= render "companies/subnav" %>
<% end %>
<div class="container">
  <div id="profile-page" class="row">

    <%= render "layouts/backstage/profile_header" %>

    <div class="card-panel" style="padding-top: 0;">
      <%= form_for [:edit, :backstage, @company, @profile], html: { multipart: true } do |f| %>
        <div class="row no-top-margin">
          <div class="input-field col s12">
            <%= f.label :institutional %><br>
            <%= f.text_area :institutional, class: "tinymce", style: "z-index: 9999;" %>
          </div>
        </div>

        <div class="row">
          <div class="section">
            <div class="divider">
            </div>
          </div>
        </div>

        <%= f.fields_for :template, @template do |fields| %>
          <%= render "backstage/templates/fields", form: fields %>
        <% end %>

        <div class="row">
          <div class="section">
            <div class="divider">
            </div>
          </div>
        </div>

        <div class="row">
          <%= image_tag(@profile.cover.thumb.url) if @profile.cover? %>
          <%= f.hidden_field :cover_cache %>
          <div class="file-field input-field">
            <div class="btn">
              <span>Capa</span>
              <%= f.file_field :cover %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>

        <div class="row no-bot-margin">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
              <i class="material-icons right">send</i>
            </button>
            <%= link_to "Preview", '', class: "btn" %>
            <%= link_to "Visitar", get_url(@company), class: "btn" %>
          </div>
        </div>
      <% end %>

      <%= tinymce %>
    </div>
  </div>
</div>
