<%= form_for @category do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <!-- <%= f.label :ancestor_id %> -->
      <%= f.collection_select(:ancestor_id, Category.root, :id, :name, include_blank: true, prompt: true) %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
<% end %>
