<div class="row">
  <h5 class="main-title">Categorias</h5>
</div>

<div class="row">
  <table class="striped bordered">
    <thead>
      <tr>
          <th data-field="id"></th>
          <th data-field="name">Nome</th>
          <th data-field="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>

      <tr>
        <td>#<%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to "Editar", [:edit, category] %>
        | <%= link_to "Ver", category %>
        | <%= link_to "Apagar", category, method: :delete, data: { confirm: "Confirma exclusão?" } %>
        </td>
      </tr>

      <% end %>
    </tbody>
  </table>

  <%= paginate @categories %>

  <div class="section">
    <%= link_to "Nova categoria", new_category_path, class: "btn large" %>
  </div>
</div>
