<div class="row">
  <div class="container">
    <div class="title-wrapper center">
      <div class="title-h5"><%= @category.name %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container cat-tab">
    <ul class="tabs" id="list-map-tab">
      <li class="tab col s3"><a href="#list">Lista</a></li>
      <li class="tab col s3"><a href="#mapa">Ver no mapa</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="list" class="col s12">

      <% unless @companies.blank? %>

        <ul class="collection">
          <%= render "companies/collection" %>
        </ul>

        <div class='section center'>
          <%= paginate @companies %>
        </div>

      <% else %>

        <div class="section center">
          Sem resultados, <%= link_to "volte para a página inicial", "/" %>.
        </div>

      <% end %>

      </div>
      <div id="mapa" class="bordered-map section col s12">
        <%= render "layouts/main/map" %>
      </div>
      <script>
          $(document).ready(function() {
            $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyCzq1h0fNZETR8Q0VAgVxqui85bPEhb-N0&callback=initMapByCat');
          });
          function initMapByCat() {
            initMap(<%= @category.id %>);
          }
      </script>
      <br/>
    </div>
  </div>
</div>
