<div class="row full-padding">
  <div class="container">
    <div class="section">
      <h5 class="title center"><i class="title-fa red-text fa fa-location-arrow" aria-hidden="true"></i> <%= @category.name %>
    </div>

    <%= render "layouts/widgets/search", path: category_path(@category), placeholder: "Filtre sua pesquisa" %>
    <div class=" cat-tab">
      <ul class="tabs" id="list-map-tab">
        <li class="tab col s3 offset-m3"><a href="#list"><i class="title-fa red-text fa fa-th-list" aria-hidden="true"></i> Lista</a></li>
        <li class="tab col s3"><a href="#mapa"><i class="title-fa red-text fa fa-street-view" aria-hidden="true"></i> Ver no mapa</a></li>
      </ul>
    </div>
  </div>

  <div class='large-container'>
    <div id="list" class="col s12">

      <% unless @companies.blank? %>

        <ul class="collection company-collection">
          <%= render "companies/collection" %>
        </ul>

        <div class='section center'>
          <%= paginate @companies %>
        </div>

      <% else %>

        <%= render "layouts/widgets/not_found", message: "Ooops, não conseguimos encontrar nenhum registro para a busca '#{params[:key]}' :(".html_safe %>

      <% end %>

    </div>
  </div>
  <div class="container">
    <div id="mapa" class="bordered-map section col s12">
      <%= render "layouts/main/map" %>
      <script>
          $(document).ready(function() {
            $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyCzq1h0fNZETR8Q0VAgVxqui85bPEhb-N0&callback=initMapByCat');
          });
          function initMapByCat() {
            initMap(<%= @category.id %>);
          }
      </script>
    </div>
  </div>
</div>
