<div class="title-wrapper center">
  <div class="title-h5 <%= primary_color @company %> <%= text_color @company %>">Faça sua avaliação</div>
</div>
<br/>

<div class="row">
<%= form_for [@company, @review] do |f| %>

  <div class="input-field col s12">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <% if @review.errors[:name] %>
    <%= @review.errors[:name].first %>
    <% end %>
  </div>

  <div class="input-field col s12">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
    <% if @review.errors[:email] %>
    <%= @review.errors[:email].first %>
    <% end %>
  </div>

    <div class="input-field col s12">
      <%= f.label :comment %>
      <%= f.text_area :comment, class: "materialize-textarea" %>
    </div>

    <div class="input-field col s12">
      Avaliação:
      <div class="star-rating">
        <%= f.radio_button :stars, 1, class: "rating" %>
        <%= f.radio_button :stars, 2, class: "rating" %>
        <%= f.radio_button :stars, 3, class: "rating" %>
        <%= f.radio_button :stars, 4, class: "rating" %>
        <%= f.radio_button :stars, 5, class: "rating", checked: true %>
      </div>
    </div>

    <div class="input-field col s12">
      <button class="btn waves-effect waves-light right btn-large" type="submit" name="action">Avaliar
        <i class="material-icons left">star</i>
      </button>
    </div>
    <br />
<% end %>
</div>
<br/>
