<div class="container">
  <div class="row">

    <%= render "layouts/backstage/profile_header" %>

  </div>
</div>


<div class="container">
  <div class="row no-bot-margin">
    <% if @reviews.empty? %>
      <div class="col s12">
        <div class="card-panel">
          <p class="center">Sua IDÉIA ainda não foi avaliada pelos usuários</p>
        </div>
      </div>
    <% else %>

      <% @reviews.each do |review| %>
        <div class="col s12 m4" style="padding-bottom: 30px;">
          <div class="card-panel">
            Avaliação: <%= review.stars %>
            <br/><br/>
            Nome: <%= review.name %><br/>
            Email: <%= review.email %>

            <% unless review.comment.empty? %>
              <p>Comentário:<br /><%= review.comment %></p>
            <% end %>

            <%= link_to "Deletar", [:backstage, @company, review], method: :delete, class: 'btn', data: { confirm: 'Tem certeza?' } %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="row no-bot-margin no-top-margin">
    <%= paginate @reviews %>
  </div>
</div>
