<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= display_meta_tags site: 'Weekz' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', cache: true %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/main/navbar" %>

    <%= render "layouts/main/search" %>

    <%= render "layouts/main/categories" %>

    <%= render "layouts/main/flash" %>

    <%= render "layouts/main/content" %>

    <% if @map %>
      <script async>
        $(document).ready(function() {
          $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyCzq1h0fNZETR8Q0VAgVxqui85bPEhb-N0&callback=initMap');
        });
      </script>
      <%= render "layouts/main/map" %>
    <% end %>

    <%= render "layouts/main/footer" %>

    <%= render "layouts/analytics" %>
  </body>
</html>
