<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Weekz Idéias">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="robots" content="index,follow">

    <%= display_meta_tags site: 'Weekz' %>
    <%= csrf_meta_tags %>
    <%= canonical_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/main/navbar" %>

    <%= render "layouts/main/flash" %>

    <%= render "layouts/main/content" %>

    <%= render "layouts/main/footer" %>

    <%= render "layouts/widgets/hubspot" %>

    <%= render "layouts/widgets/analytics" %>
  </body>
</html>
