<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= display_meta_tags site: 'Weekz' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <%= canonical_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9559839103167564",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <%= render "layouts/main/navbar" %>

    <%= render "layouts/main/flash" %>

    <%= render "layouts/main/content" %>

    <% if @map %>
      <script async>
        $(document).ready(function() {
          $.getScript('https://maps.googleapis.com/maps/api/js?key=AIzaSyCzq1h0fNZETR8Q0VAgVxqui85bPEhb-N0&callback=initMap');
        });
      </script>
      <%= render "layouts/main/map" %>
    <% end %>

    <%= render "layouts/main/footer" %>

    <%= render "layouts/widgets/analytics" %>
  </body>
</html>
