<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%= display_meta_tags site: @company.name %>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <%= stylesheet_link_tag    'full/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'company/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="company-layout">

    <%= render "layouts/full/navbar" %>

    <%= render "layouts/full/header" %>

    <%= render "layouts/full/content" %>

    <%= render "layouts/full/footer" %>

    <%= render "layouts/analytics" %>

    <%= render "layouts/main/flash" %>

    <% if user_signed_in? %>
      <div class="tools <%= color(:primary_color, @company) %>">
        <ul>
          <% if current_user.admin? %>
            <% if @company.premium? %>
              <li><%= link_to "<i class='material-icons'>thumb_down</i>".html_safe, unactive_backstage_company_path(@company), method: :post, class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Desativar premium' %></li>
            <% else %>
              <li><%= link_to "<i class='material-icons'>thumb_up</i>".html_safe, active_backstage_company_path(@company), method: :post, class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Ativar premium' %></li>
            <% end %>
          <% end %>
          <li><%= link_to "<i class='material-icons'>star</i>".html_safe, "/#{@company.slug}/review", class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Avaliar' %></li>
          <% if @company.user_id == current_user.id %>
            <li><%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_backstage_company_path(@company), class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Editar' %></li>
          <% end %>
          <li><%= link_to "<i class='material-icons'>place</i>".html_safe, root_url, class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Weekz' %></li>
          <li><%= link_to "<i class='material-icons'>lock_open</i>".html_safe, destroy_user_session_path, class: "tooltipped #{color(:link_color, @company)}", 'data-tooltip': 'Logout', method: :delete %></li>
        </ul>
      </div>
    <% end %>
  </body>
</html>
